body {
  height: 100vh;
}

header {
  background-color: black;
  height: 10%;
  width: auto;
}

main {
  background-color: gold;
}

footer {
  background-color: rgb(25, 175, 88);
  height: 100px;
  width: auto;
}

.top-menu-container {
  float: right;
}

.top-menu-item {
  float: left;
  margin: 10px;
}
.menu-item{
  float:left;
  margin-top: 26px;
}
.sidebar{
  float:left;
  height: 90%;
  width:10%;
  background-color: blue;
}

.side-menu .side-menu-item{
 margin: 20px 10px;
}

.side-menu{
  display: inline;
}

.main-content{
  float:left;
  height: 90%;
  width:90%;
}

#assignment_no{
  float:right;
  border: 1px solid black;
  background-color: yellow;
}
