body {
  height: 100vh;
  grid-template: 8% 80% 10% / 15% 85%;
}

header {
  background-color: black;
  height: 50px;
  width: auto;
}

main {
  background-color: gold;
}

footer {
  background-color: rgb(25, 175, 88);
  height: 100px;
  width: auto;
}

.top-menu-container {
  float: right;
}

.top-menu-item {
  float: left;
  display: table-cell;
  margin: 10px;
}
.menu-item{
  float:left;
  margin-top: 26px;
}
.sidebar{
  height: 100%;
  width:10%;
  background-color: blue;
}