
  
  header {
    background-color: black;
        width: auto;    
        height: 50px;
  } 
  
  .header-block{
    height:50px;
  }
  .menu-item{
    float:left;
    margin-top: 26px;
  }
  

  .left-main {
    width: 70%;
    background-color: #ABCDEF;
    float:left;
                
  }

  .right-main {
    width: 30%;
    background-color: #ccc;
    float: left;    
  }
  .top-logo {
    width: 100px;
    float: left;
  }
  .main-div {
    width: 100%;
    height: auto;
   
  }

  .nav-elem {
    float: right;
    position: relative;
  }

  .nav-elem {
    width: auto;
    float: left;
    color:white;
  }
  .search-box {
    width: auto;
    float: left;
  }
  .main-div {
    height: 500px;
  }
  .details {
    font-family: arial;
    font-weight: 500;
    color: #8d8d8d;
    font-size: 18px;
  }
  .sub-heading {
    font-size: 18px;
    font-weight: 300;
    color: #6d6d6d;
  }

  .heading {
    color: rgb(40, 44, 52);
    font-size: 60px;
    line-height: 65px;
    font-weight: 700px;
  }

  .react-logo-img{
    height:30;
    width:30px;
  }
  .react-logo-title{
    color:white;
  }