body {
    background-color: yellow;
  }
  .directions{
    text-align: center;
    
  }
  .question {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid green;
    height: 50px;
    width: 470px;
    background: #FFF;
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .option{
    margin-top: 10px;
    border: 2px solid green;
    width: 170px;
    background: #FFF;
    font-size: 18px;
    color: #000;
    text-align: center;
  }

  #footer1 {
    text-align: center;
  }
